{% extends 'base.html' %}
{% load static %}

{% block title %}{{user.username}}{% endblock %}

{% block content %}
<section id="account">
    <div class="container">
        <div class="wrapper">
            <div class="user-profile shadow">
                <form action="{% url 'account-update' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% with avatar=user.profile.avatar %}
                        {% if avatar %}
                            <img src="{{ avatar.url }}" class="avatar">
                        {% else %}
                            <img src="{% static 'img/no_avatar.png' %}" class="avatar">
                        {% endif %}
                    {% endwith %}
                    <input type="file" id="avatar" name="avatar" accept="image/*" >
                    
                    <input type="text" class="username" name="username" value="{{ user.username }}" placeholder="Нікнейм" disabled>

                    {% if user.is_staff %}
                        <p class="admin">адміністратор</p>
                    {% endif %}

                    <input type="text" class="first_name" name="first_name" value="{{ user.first_name }}" placeholder="Ім'я" disabled>
                    <input type="text" class="last_name" name="last_name" value="{{ user.last_name }}" placeholder="Прізвище" disabled>
                    <input type="email" class="email" name="email" value="{{ user.email }}" placeholder="Еmail" disabled>

                    <button type="submit" class="square-btn" id="edit-profile">Підтвердити</button>

                </form>
                <button type="submit" class="square-btn" id="enable-edit">Оновити профіль</button>

            </div>
            <div class="info shadow">
                <div class="tabs">
                    <p class="tab chosen">Профіль</p>
                    <p class="tab">Прогнози</p>
                    <p class="tab tba">TBA</p>
                    <p class="tab tba">TBA</p>
                </div>
                <div class="wrapper chosen">
                    <p class="date_joined"><i class="fas fa-calendar-check"></i> На сайті з: {{ user.date_joined|date:"d.m.Y" }}</p>
                    <p class="comments_total"><i class="fas fa-comment-alt"></i> Коментарів: {{ user.comments.count }}</p>
                    <p class="date_joined"><i class="fas fa-hourglass-half"></i> Останній вхід: {{ user.last_login|date:"d.m.Y G:i" }}</p>

                </div>
                <div class="wrapper">
                    <div class="summary">
                        <p class="place">Місце: <span>{{ place }}</span></p>
                        <p class="points">Бали: <span>{{ user.profile.total_points }}</span></p>
                    </div>
    
                    <div class="predictions">
                        <div class="prediction heading">
                            <div class="name">Ліга/Тур</div>
                            <div class="points">Бали</div>
                        </div>
                        
                        {% for name, points in stats.items %}
                            <div class="prediction">
                                <div class="name">{{ name }}</div>
                                <div class="points">{{ points }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
