[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-extensions = "*"
django-countries = "*"
pillow = "*"
requests = "*"
beautifulsoup4 = "*"
python-slugify = "*"
django-aboutconfig = "*"
postgresql = "*"
postgresql-contrib = "*"
gunicorn = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"

[scripts]
migrate = "python manage.py migrate"
test = "python manage.py test"
makemigrations = "python manage.py makemigrations"
runserver = "python manage.py runserver"
createsuperuser = "python manage.py createsuperuser"
shell = "python manage.py shell_plus"
collectstatic = "python manage.py collectstatic --no-input"
show_urls = "python manage.py show_urls"
