/* VARS
 dark blue: #0d2e52;
 light blue: #0691f5;
 mid blue: #145aa7;

 dark pinky: #c34483;
*/

/*GENERAL*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    transition: color .3s ease-in-out;
}

a:hover{
    color: #c34483;
}

html{
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #0d2e52;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: #0d2e52;
    height: 100px;
    transition: all .5s ease-in-out;
    z-index: 200;
    overflow: hidden;
    position: relative;
}

header .container{
    height: 100%;
}

header a{
    color: whitesmoke;
}

header .wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .username{
    color: #0691f5;
}

header .wrapper ul{
    height: 100%;
    width: 100%;
    display: flex;
    font-size: 18px;
    font-weight: 300;
    line-height: 100%;
}

header .wrapper ul li{
    margin: 0 10px;
}

header .menu{
    display: flex;
}

header .part.logo{
    width: 96px;
    padding: 6px;
}

header .part.logo h1{
    font-weight: 900;
    white-space: nowrap;
    font-size: 32px;
}

header .part.auth{
    display: flex;
    flex-direction: column;
}

header img.logo{
    width: 100%;
    transition: transform .3s ease-in-out;
}

header img.logo:hover{
    transform: scale(.9);
}

header.sticky{
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
}

header.hide{
    height: 0;
    overflow: hidden;
}

header.fixed h1{
    display: none;
}


header.sticky img.logo{
    display: none;
}

.container, .container-full {
    padding-right: 24px;
    padding-left: 24px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}

.container-full{
    width: 100%;
}

.container{
    max-width: 1024px;
}

.container.title{
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container.title h1{
    font-size: 48px;
    font-weight: 800;
}

.shadow{
    box-shadow: 0 0 9px 0 #bbb;
}

.mtb20{
    margin-top: 20px;
    margin-bottom: 20px;
}



/* /Header */


/* Footer */
footer{
    background-color: #0d2e52;
    position: relative;
}

footer .wrapper{
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 12px;
}

footer .copyright{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    font-weight: 300;
}

footer .part{
    padding: 0 50px;
    position: relative;
}

footer .part h3{
    margin-bottom: 20px;
}

footer .part.mid{
    width: 50%;
}

footer .part .logo{
    height: 128px;
    z-index: 20;
    position: relative;
}

footer .part .hfl_logo{
    position: absolute;
    z-index: 1;
    left: 75px;
    top: -25px;
    width: 176px;
    border-radius: 50%;
    border: 3px solid #0d2e52;
    transform: rotate(15deg);
}

footer .socials{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .socials a{
    color: white;
}

footer .socials img{
    width: 24px;
    height: 24px;
}
/* Footer */


/* Main Page */
#post-big{
    margin-bottom: 20px;
}

#post-big .wrapper{
    height: 350px;
    margin: 15px auto;
    position: relative;
    display: flex;
    cursor: pointer;
}

#post-big .wrapper .image{
    width: 65%;
    height: 100%;
    background-position: center;
    background-size: cover;
    filter: grayscale(50%);
    transition: all .3s ease-in-out;
}

#post-big .image .overlay-logo{
    height: 50%;
    opacity: .5;
    filter: grayscale(100%);
    transition: all .3s ease-in-out;
}

#post-big .wrapper:hover .overlay-logo{
    opacity: 0;
}

#post-big .image{
    display: flex;
    justify-content: center;
    align-items: center;
}

#post-big .wrapper:hover .image{
    filter: grayscale(0%)
}

#post-big .wrapper .title{
    background-color: #0d2e52;
    padding: 40px 20px;
    width: 35%;
}

#post-big .wrapper h1{
    color: white;
    font-size: 32px;
    line-height: 100%;
}

#post-big .wrapper:hover h1{
    text-decoration: underline;
}

#post-big .wrapper h2{
    color: #0691f5;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

#posts .wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#posts .post{
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 312px;
}

#posts .post:nth-of-type(3n+3){
    margin-right: 0;
}

#posts .post .image{
    background-position: center;
    background-size: cover;
    height: 70%;
    width: 100%;
}

#posts .post .title{
    height: 30%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #0d2e52;
    position: relative;
}

#posts .post p{
    position: absolute;
    bottom: 0;
    right: 0;
}
#posts .post h2{
    position: absolute;
    top: 4px;
}


#posts .post .title h1{
    font-size: 16px;
}

#posts .post .title h2{
    font-size: 10px;
    color: #c34483
}

#posts .post .title p{
    font-weight: 300;
    font-size: 10px;
    align-self: flex-end;
}

#info-tables{
    margin-bottom: 20px;
}

#info-tables .wrapper{
    display: flex;
    position: relative;
}

#info-tables .fixtures{
    width: 40%;
    display: flex;
    flex-direction: column;
}

#info-tables .scoreboard{
    margin-right: 20px;
    width: 60%;
}

#info-tables .fixtures .match{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
}

#info-tables .fixtures .next-match{
    margin-bottom: 20px;
}

#info-tables .type{
    position: absolute;
    color: thistle;
    top: 10px;
    left: 10px;
    font-size: 12px;
}

#info-tables .fixtures .team{
    text-align: center;
}

#info-tables .fixtures .team img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

#info-tables .match .info{
    font-size: 16px;
    text-align: center;
}

#info-tables .fixtures .team{
    min-width: 150px;
    /* height: 40px; */
}

#info-tables .fixtures .score{
    min-width: 80px;
}

.scoreboard .team-name{
    display: flex;
    height: 100%;
    align-items: center;
    width: 200px;
    text-transform: uppercase;
}

.scoreboard .team-name img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

#info-tables .sides{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

#info-tables .team .name{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

#info-tables .score.time p{
    color: thistle;
    font-size: 18px;
    text-align: center;
}

#info-tables .score p{
    color: #0d2e52;
    font-size: 56px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
    white-space: nowrap;
}

#info-tables .link{
    width: 250px;
    text-align: center;
    border: 1px solid;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #0d2e52;
}

.scoreboard{
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.scoreboard .heading,
.scoreboard .table{
    display: flex;
    justify-content: space-between;
}

.scoreboard .table{
    flex-direction: column;
}

.scoreboard .heading,
.scoreboard .team{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.scoreboard .heading p{
    transform: skewX(15deg);
}

.scoreboard .heading{
    background-color: #c34483;
    color: white;
    height: 48px;
    transform: skewX(-15deg);
}

.scoreboard .team{
    height: 48px;
    transition: all .3s ease-in-out;
    font-size: 12px;
    text-align: center;
    transform: skewX(-15deg);
}

.scoreboard .team p,
.scoreboard .team img{
    transform: skewX(15deg);
}

.scoreboard .team p{
    font-weight: 600;
}

.scoreboard .team .place{
    width: 12px;
}

.scoreboard .team.dymer{
    background-color: #0691f5;
    color: white;
    height: 58px;
}

.scoreboard .team.dymer p{
    font-weight: 800;
    font-size: 14px;
}

.scoreboard .team:hover{
    background-color: #145aa7;
    color: white;
    transform: scale(1.02) skewX(-15deg);;
    cursor: pointer;
}

.scoreboard .team.dymer:hover{
    background-color: #c34483;
}

#refresh-scoreboard{
    height: 0;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}

.scoreboard .stamp{
    position: absolute;
    left: 50%;
    top: 4px;
    transform: translate(-50%, 0);
    font-size: 12px;
}

.scoreboard:hover #refresh-scoreboard{
    margin-bottom: 68px;
    z-index: 20;
}

#refresh-scoreboard input{
    background-color: transparent;
    outline: none;
    background-color: #44c379;
    color: white;
    border: none;
    height: 48px;
    padding: 0 10px;
    margin: 10px 0;
    transform: skewX(-15deg);
    cursor: pointer;
}

form.btn{
    height: 0;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}

.btn input,
.skew-btn{
    background-color: transparent;
    outline: none;
    background-color: #44c379;
    color: white;
    border: none;
    height: 48px;
    padding: 0 10px;
    margin: 10px 0;
    transform: skewX(-15deg);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sponsors{
    position: relative;
    padding: 50px 7%;
}

#sponsors::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .5;
    background-size: 5px 5px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPUlEQVQYlWMsevn/PwMDA0OvGAMjAx7AhE8SGTD+hxiIExS/YvhPkokshEyCuZ18E9FNggHSTcRlEskmAgD7MBJvQ1V/KQAAAABJRU5ErkJggg==");
}

#sponsors .wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#sponsors .wrapper img{
    width: 80px;
    filter: grayscale(100%);
    height: 80px;
    object-fit: contain;
}

/* /Main Page */

/* Lineup */
.field{
    position: relative;
}

.pitch {
    height: 100%;
    width: 100%;
    left: 50%;
    position: relative;
    top: 0;
    transform: translate(-50%, 0);
    z-index: 0;
    background: #5d9634;
}

.pitch.stripes{
    background: repeating-linear-gradient( 
        #5d9634, 
        #5d9634 50px,
        #538c2b 50px, 
        #538c2b 100px 
    );
}

.field .player{
    width: calc(2vw + 5vh);
    height: calc(2vw + 5vh);
    object-fit: contain;
    position: absolute;
    border-radius: 50%;
    background-color: #0d2e52;
    color: white;
    cursor: pointer;
}

.field .player.selected{
    border: 3px solid greenyellow;
}

.field .player.gk{
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #c34483;
}

.field .player .wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vmax;
    position: relative;
}

.field .player h3{
    position: absolute;
    text-align: center;
    bottom: -30%;
    font-size: 1vmax;
}

#download-lineup{
    left: 80%;
    position: absolute;
}


/* Lineup */

/* Players List */

#create-squad{
    width: 200px;
    margin: 0 auto;
}

.player-container{
    position: relative;
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
}

.player-container a{
    position: relative;
}

.player-container .crown{
    position: absolute;
    width: 50px;
    z-index: 10;
    transform: rotate(-41deg);
    top: -23px;
    left: -21px;
}

.player-container .card{
    width: 229px;
    height: 300px;
    margin-right: 27px;
    margin-bottom: 27px;
    position: relative;
    overflow: hidden;

}

.player-container .card.legend{
    filter: brightness(0.4);
}

.card:nth-of-type(4n+4) {
    margin-right: 0;
}

.card .photo{
    display: flex;
    position: relative;
    width: 100%;
    height: 229px;
    background-position: center;
    background-size: cover;
}

.card .name{
    height: 71px;
    align-self: center;
    padding-left: 15px;
    line-height: 180%;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.card .name h2{
    font-weight: 600;
    text-transform: uppercase;
}

.card .nationality{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: 200%;
    background-position: center;
    box-shadow: 0 2px 5px 0 rgba(0,40,94,.6);
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition: all .3s ease-in-out;
}

.card .number{
    position: absolute;
    top: -5px;
    right: -15px;
    font-size: 80px;
    font-weight: 800;
    color: #145aa7;
    opacity: .6;
    line-height: 75%;
    transition: all .3s ease-in-out;

}

.card:hover .number{
    opacity: 1;
}

.card:hover .nationality{
}


/* /Players List */

.login{
    margin: 30px auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.login h2{
    text-align: center;
}

.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login form p{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}
/* Login Form */

/* Login Form */

/*MOBILE VERSION*/
@media screen and (max-width: 1024px) {

    .container {
        max-width: 90vw;
        padding: 0;
    }

    header{
        height: 22vw;
    }

    header img.logo {
        width: 20vw;
    }

    header .part.logo {
        padding: unset;
        width: unset;
        height: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .part.logo a{
        height: 20vw;
    }

    header.sticky .part.logo a{
        height: unset;
    }

    header .wrapper ul li {
        margin: 0 1vw;
    }

    header .wrapper ul {
        font-size: 3vw;
    }

    header .part.logo h1 {
        font-size: 4vw;
    }
    
    .part.auth{
        font-size: 3vw;
    }

    #post-big .wrapper {
        height: 130vw;
        flex-direction: column-reverse;
    }

    #post-big .wrapper .title {
        width: 100%;
        padding: 20px;
    }

    #post-big .wrapper h2 {
        margin-bottom: 5px;
    }

    #post-big .wrapper .image {
        width: 100%;
    }

    #post-big .image .overlay-logo {
        opacity: .1;
    }

    #posts .wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        flex-direction: column;
    }

    #posts .post {
        height: 65vw;
        width: 100%;
        margin-bottom: 20px;
    }

    #posts .post .title {
        height: 20%;
    }

    #posts .post .image {
        height: 80%;
    }

    #posts a{
        width: 100%;
    }

    #info-tables .wrapper {
        flex-direction: column;
    }

    #info-tables .scoreboard {
        margin-right: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .scoreboard .heading {
        height: 15vw;
        font-size: 4vw;
    }

    .scoreboard .team-name {
        width: 30vw;
    }

    .scoreboard .team p {
        white-space: nowrap;
    }

    .scoreboard .stamp {
        left: unset;
        top: 4px;
        font-size: 2.5vw;
        width: 100%;
        text-align: center;
        transform: unset;
    }

    #refresh-scoreboard {
        height: 0;
        margin-bottom: 2vw;
        transition: all .3s ease-in-out;
    }

    #info-tables .fixtures {
        width: 100%;
    }

    #info-tables .fixtures .team {
        min-width: 32vw;
        height: unset;
    }

    #info-tables .fixtures .team img {
        width: 25vw;
        height: 25vw;
        object-fit: contain;
    }

    #sponsors .wrapper img {
        width: 10vw;
        height: unset;
    }

    footer .part .logo {
        height: 20vw;
    }

    footer .part {
        padding: 0 10px;
    }

    footer .part .hfl_logo {
        width: 27vw;
        border-radius: 50%;
        border: unset;
        top: 3vw;
        left: 7vw;
        transform: translate(0, -25%) rotate(15deg);
    }

    footer .part.mid {
        display: none;
    }

    .player-container .card {
        width: 42vw;
        height: unset;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .player-container .crown {
        width: 35px;
        top: -16px;
        left: -13px;
    }

    .card:nth-of-type(4n+4) {
        margin-right: initial;
    }

    .card .photo {
        height: 50vw;
    }

    .player-container a:nth-of-type(even) .card{
        margin: 0;
    }

    .card .name h2 {
        font-size: 5vw;
        line-height: 5.5vw;
    }

    .container.title h1 {
        font-size: 10vw;
        font-weight: 800;
    }
}