/* SCHEMES */

/* 4-4-2 */
.field.s442 .player:nth-of-type(n+2):nth-of-type(-n+5){
    bottom: 200px;
}

.field.s442 .player:nth-of-type(n+6):nth-of-type(-n+9){
    bottom: 400px;
}

.field.s442 .player:nth-of-type(n+10):nth-of-type(-n+11){
    bottom: 600px;
}

.field.s442 .player:nth-of-type(2),
.field.s442 .player:nth-of-type(6){
    left: 260px;
}

.field.s442 .player:nth-of-type(3),
.field.s442 .player:nth-of-type(7),
.field.s442 .player:nth-of-type(10){
    left: 380px;
}

.field.s442 .player:nth-of-type(4),
.field.s442 .player:nth-of-type(8),
.field.s442 .player:nth-of-type(11){
    right: 380px;
}

.field.s442 .player:nth-of-type(5),
.field.s442 .player:nth-of-type(9){
    right: 260px;
}

/* 4-5-1 */
.field.s451 .player:nth-of-type(n+2):nth-of-type(-n+5){
    bottom: 200px;
}

.field.s451 .player:nth-of-type(11){
    bottom: 600px;
    left: 50%;
    transform: translate(-50%, 0);
}


.field.s451 .player:nth-of-type(7),
.field.s451 .player:nth-of-type(9){
    bottom: 400px;
}

.field.s451 .player:nth-of-type(6),
.field.s451 .player:nth-of-type(10){
    bottom: 450px;
}

.field.s451 .player:nth-of-type(2),
.field.s451 .player:nth-of-type(6){
    left: 260px;
}

.field.s451 .player:nth-of-type(5),
.field.s451 .player:nth-of-type(10){
    right: 260px;
}

.field.s451 .player:nth-of-type(3),
.field.s451 .player:nth-of-type(7){
    left: 380px;
}

.field.s451 .player:nth-of-type(4),
.field.s451 .player:nth-of-type(9){
    right: 380px;
}

.field.s451 .player:nth-of-type(8){
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 300px;
}

/* 4-3-3 */
.field.s433 .player:nth-of-type(n+2):nth-of-type(-n+5){
    bottom: 200px;
}

.field.s433 .player:nth-of-type(n+6):nth-of-type(-n+8){
    bottom: 400px;
}

.field.s433 .player:nth-of-type(n+9):nth-of-type(-n+11){
    bottom: 600px;
}

.field.s433 .player:nth-of-type(6),
.field.s433 .player:nth-of-type(9){
    left: 260px;
}

.field.s433 .player:nth-of-type(8),
.field.s433 .player:nth-of-type(11){
    right: 260px;
}


.field.s433 .player:nth-of-type(2){
    left: 260px;
}

.field.s433 .player:nth-of-type(3){
    left: 380px;
}

.field.s433 .player:nth-of-type(4){
    right: 380px;
}

.field.s433 .player:nth-of-type(5){
    right: 260px;
}

.field.s433 .player:nth-of-type(10),
.field.s433 .player:nth-of-type(7){
    left: 50%;
    transform: translate(-50%, 0);
}


/* Selectric */
.selectric-wrapper{
    width: 300px;
    position: absolute;
    z-index: 1;
    z-index: 30;
}

.selectric-wrapper:not(.selectric-open){
    visibility: hidden;
}

#scheme{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 20;
}
