{% extends 'base.html' %}
{% load static %}

{% block title %}Прогноз {{ object.week }} Тур{% endblock %}

{% block content %}
<div class="container title">
    <h1>Прогноз</h1>
    <h2>{{ object.season }}: {{ object.week }} Тур</h2>
</div>
<section id="forecast" {% if can_vote %}class="editable"{% endif %}>
    <div class="container">
        {% if not user.is_authenticated %}
            <a href="{% url 'login' %}?next={% url 'forecast-detail' pk=object.pk %}">увійти</a>
            <a href="{% url 'register' %}?next={% url 'forecast-detail' pk=object.pk %}">реєстрація</a>
        {% endif %}
    </div>
    <div class="container">
        {% if user.is_staff %}
            <form action="{% url 'update-points' pk=object.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" id="update-points">Оновити бали</button>
            </form>
        {% endif %}
        <form action="{% url 'predict' pk=object.pk %}" method="post">
            {% csrf_token %}
            <div class="wrapper">
                <h2 class="status">
                    Статус: <span class="status{{object.status}}">{{ object.get_status_display }}</span>
                </h2>
                {% if object.status == 1 %}
                    <p class="deadline">до {{ object.deadline|date:"d/m/Y G:i" }}</p>
                {% endif %}
                
                {% for fixture in object.fixtures.all %}
                    <div class="fixture {% if fixture.finished %}finished{% endif %}">
                        <div class="team home">
                            <h2>{{ fixture.get_home_name }}</h2>
                            <img src="{{ fixture.get_home_logo_url }}">
                        </div>
                        <div class="score">
                            {% if can_vote %}
                                <!-- User authenticated, didn't vote yet, and forecast is Active -->
                                <p>
                                    <input type="number" min="0" class="home_goals" name="fixture{{fixture.pk}}" required>
                                    :
                                    <input type="number" min="0" class="guest_goals" name="fixture{{fixture.pk}}" required>
                                </p>
                            {% else %}
                                <!-- VOTED OR NOT AUTH OR STARTED -->
                                {% if object.status != 1 %}
                                    <!-- STARTED: [SHOW GAOLS or '-' if None yet] -->
                                    <p>
                                        <input type="text" class="home_goals" name="fixture{{fixture.pk}}" value="{% if fixture.home_goals is not None %}{{ fixture.home_goals }}{%else%}-{%endif%}" disabled>
                                        :
                                        <input type="text" class="guest_goals" name="fixture{{fixture.pk}}" value="{% if fixture.guest_goals  is not None %}{{ fixture.guest_goals }}{%else%}-{%endif%}" disabled>
                                    </p>
                                {% else %}
                                    {% if results %}
                                        <!-- ACTIVE, ALREADY VOTED [SHOW PREDICTIONS]-->
                                        {% for key, value in results.items %}
                                        <!-- TODO: FIND OUT WHY CAN'T GET VALUE FROM DICT W/O THIS LOOP!! -->
                                            {% if key == fixture.pk %}
                                                <p>
                                                    <input type="text" class="home_goals" name="fixture{{fixture.pk}}" value="{{ value.0 }}" disabled>
                                                    :
                                                    <input type="text" class="guest_goals" name="fixture{{fixture.pk}}" value="{{ value.1}}" disabled>
                                                </p>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <!-- ACTIVE, NOT AUTH -->
                                        <p>
                                            <input type="text" class="home_goals" name="fixture{{fixture.pk}}" value="{% if fixture.home_goals%}{{ fixture.home_goals }}{%else%}-{%endif%}" disabled>
                                            :
                                            <input type="text" class="guest_goals" name="fixture{{fixture.pk}}" value="{% if fixture.guest_goals%}{{ fixture.guest_goals }}{%else%}-{%endif%}" disabled>
                                        </p>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <p class="date">{{ fixture.date|date:"d/m/Y G:i" }}</p>
                        </div>
                        <div class="team guest">
                            <img src="{{ fixture.get_guest_logo_url }}">
                            <h2>{{ fixture.get_guest_name }}</h2>
                        </div>
                    </div>
                {% endfor %}
                <button type="submit" id="predict">Підтвердити</button>
            </div>
        </form>
        {% if object.status == 1 and user.is_authenticated %}
            <form action="{% url 'reset-prediction' pk=object.pk %}" method="post">
                {% csrf_token %}
                <button id="reset">Змінити</button>
            </form>
        {% endif %}
    </div>
</section>

<section id="predictions">
    <div class="container">
        <div class="wrapper">
            {% for prediction in object.predictions.all %}
                <div class="prediction shadow expandable">
                    <div class="author">
                        
                        {% if prediction.user.avatar %}
                            <img src="{{ prediction.user.avatar.url}}" class="avatar">  
                        {% else %}
                            <img src="{% static 'img/no_avatar.png' %}" class="avatar">
                        {% endif %}
                        <br>
                        {{ prediction.user }}
                    </div>
                    {% for fixture in prediction.fixtures %}
                        <div class="match-prediction">
                            <div class="team home">
                                <img src="{{ fixture.home_logo }}" class="logo">
                            </div>
                            <div class="score">
                                <div class="home_goals">{{ fixture.goals.0 }}</div>
                                :
                                <div class="guest_goals">{{ fixture.goals.1 }}</div>
                            </div>
                            <div class="team guest">
                                <img src="{{ fixture.guest_logo }}" class="logo">
                            </div>
                        </div>
                    {% endfor %}
                    <div class="date">
                        {{ prediction.created_at|date:"d/m/Y G:i" }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

    
{% endblock %}