{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}

{% block title %}Новини{% endblock %}

{% block content %}
<div class="container title">
    <h1>Новини</h1>
</div>
<section id="search">
    <div class="container">
        <div class="wrapper">
            <form action="{% url 'blog-list'%}" method="GET">
                <input type="text" class="search-area shadow" name="query">
                <button type="submit" class="square-btn">Пошук</button>
            </form>
        </div>
    </div>
</section>
<section id="posts">
    <div class="container">
        <div class="wrapper">
            {% for post in page_obj %}
                <a href="{% url 'blog-detail' pk=post.pk %}">
                    <div class="post shadow">
                        <div class="image" style="background-image: url({{ post.image.url }})">

                        </div>
                        <div class="title">
                            <h2>{{ post.category.name }}</h2>
                            <h1>{{ post.title }}</h1>
                            <p>
                                <span class="triangle {% if post|liked_by:user %}active{% endif %}"></span>
                                <span class="likes">{{ post.likes_total }}</span>
                                <span class="triangle dislike {% if post|disliked_by:user %}active{% endif %}"></span>
                                <span class="dislikes">{{ post.dislikes_total }}</span>
                                {{ post.posted|date:"d/m/Y G:i" }}
                            </p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="pagination">
            
            <div class="links">
                {% if page_obj.previous_page_number != 1 %}
                    <a href="?page=1" class="first">1</a>
                    <p class="filler">. . .</p>
                {% endif %}
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                {% endif %}
                <a href="#" class="current">{{ page_obj.number }}</a>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                {% endif %}
                {% if page_obj.next_page_number != page_obj.paginator.num_pages  %}
                    <p class="filler">. . .</p>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="last">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

    
{% endblock %}