{% extends 'base.html' %}
{% load static %}

{% block title %}Новини{% endblock %}

{% block content %}
<div class="container title">
    <h1>Новини</h1>
</div>
<section id="posts">
    <div class="container">
        <div class="wrapper">
            {% for post in object_list %}
                <a href="{% url 'blog-detail' pk=post.pk %}">
                    <div class="post shadow">
                        <div class="image" style="background-image: url({{ post.image.url }})">

                        </div>
                        <div class="title">
                            <h2>{{ post.category.name }}</h2>
                            <h1>{{ post.title }}</h1>
                            <p>{{ post.posted|date:"d/m/Y G:i" }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>

    
{% endblock %}