{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

<section id="post-photo">
    <div class="container-full" style="background-image: url({{ object.image.url }});">

    </div>
</section>
<section id="post-title">
    <div class="container title">
        <h1>{{ object.title }}</h1>
        <h2>{{ object.category.name }}</h2>
        <h3>Автор: {{ object.author }}</h3>
        <h4>{{ object.posted|date:"d/m/Y G:i" }}</h4>
    </div>
</section>
<section id="post-content">
    <div class="container">
        {{ object.text|safe }}
    </div>
</section>

<section id="likes">
    <div class="container">
        <div class="wrapper">
            <form action="{% url 'post-react' pk=object.pk %}?type=like" method="post">
                {% csrf_token %}
                <span class="triangle {% if object|liked_by:user %}active{% endif %}"></span>
                <span class="likes">{{ object.likes_total }}</span>
            </form>
            <form action="{% url 'post-react' pk=object.pk %}?type=dislike" method="post">
                {% csrf_token %}
                <span class="triangle dislike {% if object|disliked_by:user %}active{% endif %}"></span>
                <span class="dislikes">{{ object.dislikes_total }}</span>
            </form>
        </div>
    </div>
</section>
    

<section id="comments">
    <div class="container title">
        <h1>Коментарі <span>({{ object.comments_total }})</span></h1>
    </div>
    <div class="container">
        {% for comment in object.comments.all %}
            <div class="comment shadow">
                {% with avatar=comment.author.profile.avatar %}
                    {% if avatar %}
                        <img src="{{ avatar.url }}" class="avatar">
                    {% else %}
                        <img src="{% static 'img/no_avatar.png' %}" class="avatar">
                    {% endif %}
                {% endwith %}
                <p class="text">{{comment.text}}</p>
                <div class="reactions">
                    <form action="{% url 'post-react' pk=comment.pk %}?type=like&comment=true" method="post">
                        {% csrf_token %}
                        <span class="triangle {% if comment|liked_by:user %}active{% endif %}"></span>
                        <span class="likes">{{ comment.likes_total }}</span>
                    </form>
                    <form action="{% url 'post-react' pk=comment.pk %}?type=dislike&comment=true" method="post">
                        {% csrf_token %}
                        <span class="triangle dislike {% if comment|disliked_by:user %}active{% endif %}"></span>
                        <span class="dislikes">{{ comment.dislikes_total }}</span>
                    </form>
                </div>
                <p class="date">{{comment.posted|date:"d/m/Y G:i"}}</p>
                {% if comment.author %}
                    <p class="author" style="color: {{ comment.author_color }};">{{comment.author}}</p>
                {% else %}
                    <p class="author" style="color: #888;">Видалено</p>
                {% endif %}

                {% if comment.author == user %}
                    <form method="post" action="{% url 'delete-comment' pk=comment.pk %}" id="delete-form">
                        {% csrf_token %}
                        <button type="submit" class="square-btn red">X</button>
                    </form>
                {% endif %}
            </div>
            {% for reply in comment.replies.all %}
                <div class="comment reply shadow">
                    {% with avatar=reply.author.profile.avatar %}
                        {% if avatar %}
                            <img src="{{ avatar.url }}" class="avatar">
                        {% else %}
                            <img src="{% static 'img/no_avatar.png' %}" class="avatar">
                        {% endif %}
                    {% endwith %}
                    <p class="text">{{reply.text}}</p>
                    <div class="reactions">
                        <form action="{% url 'post-react' pk=reply.pk %}?type=like&comment=true" method="post">
                            {% csrf_token %}
                            <span class="triangle {% if reply|liked_by:user %}active{% endif %}"></span>
                            <span class="likes">{{ reply.likes_total }}</span>
                        </form>
                        <form action="{% url 'post-react' pk=reply.pk %}?type=dislike&reply=true" method="post">
                            {% csrf_token %}
                            <span class="triangle dislike {% if reply|disliked_by:user %}active{% endif %}"></span>
                            <span class="dislikes">{{ reply.dislikes_total }}</span>
                        </form>
                    </div>
                    <p class="date">{{reply.posted|date:"d/m/Y G:i"}}</p>
                    {% if reply.author %}
                        <p class="author" style="color: {{ reply.author_color }};">{{reply.author}}</p>
                    {% else %}
                        <p class="author" style="color: #888;">Видалено</p>
                    {% endif %}

                    {% if reply.author == user %}
                        <form method="post" action="{% url 'delete-comment' pk=reply.pk %}" id="delete-form">
                            {% csrf_token %}
                            <button type="submit" class="square-btn red">X</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="container">
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'comment' pk=object.pk %}" class="shadow">
                {% csrf_token %}
                {{ comment_form }}
                <button type="submit" class="square-btn">Прокоментувати</button>
            </form>
        {% else %}
            Для комментування авторизуйтесь
            <a href="{% url 'login' %}">увійти</a>
            <a href="{% url 'register' %}">реєстрація</a>
        {% endif %}
    </div>
</section>
<!-- NEXT/PREV POSTS -->
<section id="posts">
    <div class="container">
        <div class="wrapper">
            {% if prev_post %}
                <a href="{% url 'blog-detail' pk=prev_post.pk %}">
                    <p class="subtitle">Попередній допис</p>
                    <div class="post shadow">
                        <div class="image" style="background-image: url({{ prev_post.image.url }})">

                        </div>
                        <div class="title">
                            <h2>{{ prev_post.category.name }}</h2>
                            <h1>{{ prev_post.title }}</h1>
                            <p>{{ prev_post.posted|date:"d/m/Y G:i" }}</p>
                        </div>
                    </div>
                </a>
            {% else %}
            <a href="">
                <div class="post placeholder">
                </div>
            </a>
            {% endif %}
            <a href="">
                <div class="post placeholder">
                </div>
            </a>
            {% if next_post %}
                <a href="{% url 'blog-detail' pk=next_post.pk %}">
                    <p class="subtitle">Наступний допис</p>
                    <div class="post shadow">
                        <div class="image" style="background-image: url({{ next_post.image.url }})">

                        </div>
                        <div class="title">
                            <h2>{{ next_post.category.name }}</h2>
                            <h1>{{ next_post.title }}</h1>
                            <p>{{ next_post.posted|date:"d/m/Y G:i" }}</p>
                        </div>
                    </div>
                </a>
            {% else %}
            <a href="">
                <div class="post placeholder">
                </div>
            </a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}