{% load static %}
<footer>
    <div class="container">
        <div class="wrapper">
            <div class="part">
                <a href="/">
                    <img src="{% static 'img/temp_logo.png' %}" class="logo">
                </a>
                <a href="https://diamondliga.join.football/" target="_blank">
                    <img src="https://st.joinsport.io/league/1003688/logo/5ebbc710cfd7a_172x172.png" class="hfl_logo">
                </a>
            </div>
            <div class="part mid">
                <h3>Заголовок</h3>
                <p>Impedit omittam mei in. Et paulo sententiae elaboraret eos, ea mnesarchum suscipiantur per. Voluptua appareat an nec, sit ei ridens pertinax. Sea fabellas reprimique et. Utinam euripidis complectitur ei eos, cu quo dicta malorum torquatos.</p>
            </div>
            <div class="part">
                <h3>Соцмережі</h3>
            </div>

            <p class="copyright">
                ФК Темп Димер © 2020
            </p>
        </div>
    </div>
</footer>