{% load static %}
<div class="container">
    <div class="wrapper">
        <div class="part logo">
            <a href="/">
                <img src="{% static 'img/temp_logo.png' %}" class="logo">
                <h1>ФК ТЕМП</h1>
            </a>
        </div>
        <div class="part menu">
            <ul>
                <li><a href="{% url 'player-list' %}">Гравці</a></li>
                <li><a href="{% url 'scoreboard' %}">Таблиця</a></li>
                <li><a href="{% url 'blog-list' %}">Новини</a></li>
                <li><a href="#">Прогнози</a></li>
            </ul>
        </div>
        <div class="part auth">
            {% if user.is_authenticated %}
                <p class="username">{{ user }}</p>
                <a href="{% url 'logout' %}">вийти</a>
            {% else %}
                <a href="{% url 'login' %}">увійти</a>
                <a href="{% url 'register' %}">реєстрація</a>
            {% endif %}
        </div>
    </div>
</div>
