{% extends 'base.html' %}
{% load static %}

{% block title %}Головна{% endblock %}

{% block content %}
<section id="post-big">
    <div class="container">
        <a href="https://youtu.be/i3UUQ3sUwv0?t=2445" target="_blank">
            <div class="wrapper shadow">
                    <div class="title">
                        <h2>ХФЛ</h2>
                        <h1>ТЕМП ЗНОВУ РОБИТЬ КАМБЕК</h1>
                    </div>
                    <div class="image" style="background-image: url({% static 'img/lastpost.png' %})">
                        <img src="{% static 'img/temp_logo.png' %}" class="overlay-logo">
                    </div>
            </div>
        </a>
    </div>
</section>

<section id="posts">
    <div class="container">
        <div class="wrapper">
            <a href="https://youtu.be/i3UUQ3sUwv0?t=2445" target="_blank">
                <div class="post shadow">
                    <div class="image" style="background-image: url({% static 'img/lastpost.png' %})">

                    </div>
                    <div class="title">
                        <h2>ХФЛ</h2>
                        <h1>ТЕМП ЗНОВУ РОБИТЬ КАМБЕК</h1>
                        <p>26.08.1995</p>
                    </div>
                </div>
            </a>
            <a href="https://youtu.be/i3UUQ3sUwv0?t=2445" target="_blank">
                <div class="post shadow">
                    <div class="image" style="background-image: url(https://static.ukrinform.com/photos/2018_06/thumb_files/630_360_1528970776-1131.jpg)">

                    </div>
                    <div class="title">
                        <h2>ТРАНСФЕРИ</h2>
                        <h1>ТЕМП ПІДПИСАВ ДВОХ ГРАВЦІВ</h1>
                        <p>13.08.2020</p>
                    </div>
                </div>
            </a>
            <a href="https://youtu.be/i3UUQ3sUwv0?t=2445" target="_blank">
                <div class="post shadow">
                    <div class="image" style="background-image: url(https://openkyiv.info/storage/news/rusanivets.jpg)">

                    </div>
                    <div class="title">
                        <h2>ФК АРСЕНАЛ</h2>
                        <h1>ПЕРЕБИВАННЯ ПЕНАЛЬТІ</h1>
                        <p>01.05.2020</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<section id="info-tables">
    <div class="container">
        <div class="wrapper">
            {% include 'scoreboard/table.html' %}
            {% include 'scoreboard/matches.html' %}
        </div>
    </div>

</section>

<section id="sponsors">
    <div class="container-wide">
        <div class="wrapper">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/1280px-Logo_NIKE.svg.png" alt="">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Europaw.png" alt="">
            <img src="http://katran-kiev.com.ua/sites/default/files/styles/large/public/stories/Logo_17.jpg?itok=6xNssOVI" alt="">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/UEFA_Champions_League_logo_2.svg/2000px-UEFA_Champions_League_logo_2.svg.png" alt="">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Vyshhorod_Raion%2C_Kyiv_Oblast.svg/1200px-Flag_of_Vyshhorod_Raion%2C_Kyiv_Oblast.svg.png" alt="">
            
        </div>
    </div>
</section>
{% endblock %}