{% extends 'base.html' %}
{% load static %}

{% block title %}Головна{% endblock %}

{% block head %}
<!-- Countdown -->
<script src="{% static 'js/multi-countdown.js' %}"></script>
{% endblock%}

{% block content %}
<section id="post-big">
    <div class="container">
        <a href="{% url 'blog-detail' pk=last_posts.0.pk %}">
            <div class="wrapper shadow">
                    <div class="title">
                        <h2>{{ last_posts.0.category.name }}</h2>
                        <h1>{{ last_posts.0.title }}</h1>
                    </div>
                    <div class="image" style="background-image: url({{ last_posts.0.image.url }})">
                        <img src="{% static 'img/temp_logo.png' %}" class="overlay-logo">
                    </div>
            </div>
        </a>
    </div>
</section>

<section id="posts">
    <div class="container">
        <div class="wrapper">
            
            {% for post in last_posts %}
            <a href="{% url 'blog-detail' pk=post.pk %}">
                <div class="post shadow">
                    <div class="image" style="background-image: url({{ post.image.url }})">

                    </div>
                    <div class="title">
                        <h2>{{ post.category.name }}</h2>
                        <h1>{{ post.title }}</h1>
                        <p>{{ post.posted|date:"d/m/Y G:i" }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}

        </div>
    </div>
</section>

<section id="info-tables">
    <div class="container">
        <div class="wrapper">
            {% include 'scoreboard/table.html' %}
            {% include 'scoreboard/matches.html' %}
        </div>
    </div>

</section>

<section id="sponsors">
    <div class="container-wide">
        <div class="wrapper">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/1280px-Logo_NIKE.svg.png" alt="">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Europaw.png" alt="">
            <img src="http://katran-kiev.com.ua/sites/default/files/styles/large/public/stories/Logo_17.jpg?itok=6xNssOVI" alt="">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/UEFA_Champions_League_logo_2.svg/2000px-UEFA_Champions_League_logo_2.svg.png" alt="">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Vyshhorod_Raion%2C_Kyiv_Oblast.svg/1200px-Flag_of_Vyshhorod_Raion%2C_Kyiv_Oblast.svg.png" alt="">
            
        </div>
    </div>
</section>
{% endblock %}