{% load static %}
{% load config %}
<div class="scoreboard shadow">
    {% if user.is_staff %}
        <form action="{% url 'index' %}" id="refresh-scoreboard" method="POST">
            <input type="submit" value="ОНОВИТИ">
        </form>
    {% endif %}
    <div class="stamp">
        Останнє оновлення: {{ 'scoreboard.updated_at'|get_config }}
    </div>
    <div class="heading">
        <p class="place">#</p>
        <p class="team-name">Команда</p>
        <p class="games">І</p>
        <p class="wins">В</p>
        <p class="draws">Н</p>
        <p class="losses">П</p>
        <p class="goals">МЗ - МП</p>
        <p class="points">О</p>
    </div>
    <div class="table">
        {% for teaminfo in scoreboard %}
        <div class="team {% if teaminfo.team.name.lower == 'темп' %}dymer{% endif %}">
            <p class="place">{{ teaminfo.place }}</p>
            <div class="team-name">
                <img src="{{ teaminfo.team.logo_url }}" >
                <p>{{ teaminfo.team.alias }}</p>
            </div>
            <p class="games">{{ teaminfo.games }}</p>
            <p class="wins">{{ teaminfo.wins }}</p>
            <p class="draws">{{ teaminfo.draws }}</p>
            <p class="losses">{{ teaminfo.losses }}</p>
            <p class="goals">{{ teaminfo.goals_scored }} - {{ teaminfo.team.goals_conceded }}</p>
            <p class="points"><b>{{ teaminfo.points }}</b></p>
        </div>
        {% endfor %}
    </div>
</div>