{% extends 'base.html' %}
{% load static %}

{% block title %}Створити схему{% endblock %}

{% block head %}
<!-- Entire bundle -->
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.11/lib/draggable.bundle.js"></script>
<script>
    const draggable = new Draggable.Draggable(document.querySelectorAll('.field'), {
            draggable: '.player'
        });
</script>
{% endblock%}

{% block content %}
    <div class="container">
        <div class="field"">
            <img src="{% static 'img/pitch.svg' %}" class="pitch">
            {% for player in object_list %}
                <div class="player">
                    <div class="wrapper">
                        <h2>{{ player.number }}</h2>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
