{% extends 'base.html' %}
{% load static %}

{% block title %}Гравці{% endblock %}

{% block content %}
    
    <div class="container">
        {% if user.is_staff %}
            <div id="create-squad">
                <a href="{% url 'lineup' %}" class="link-btn">
                    СТВОРИТИ СКЛАД
                </a>
            </div>
        {% endif %}
    </div>
    {% regroup object_list by get_position_display as positions_list %}
        {% for position in positions_list %}
            <div class="container title">
                <h1>{{ position.grouper }}{% if position.grouper == 'Воротар' %}і{% else %}и{% endif %}</h1>
            </div>
            <div class="container mtb20 player-container">
                {% for player in position.list %}
                    <a href="{% url 'player-detail' name_slug=player.name_slug %}">
                        {% if player.legend %}
                            <img src="{% static 'img/crown.svg' %}" class="crown">
                        {% endif %}
                        {% if player.captain%}
                            <img src="https://static.thenounproject.com/png/1963245-200.png" class="crown">
                        {% endif %}
                        <div class="card shadow {% if player.legend %}legend{% endif %}">
                            <div class="photo" style="background-image: url({{ player.photo.url }});">
                                <div class="nationality" style="background-image: url(https://www.countryflags.io/{{player.nationality.code}}/flat/64.png);">
                                </div>
                            </div>
                            <div class="name">
                                <h2>
                                    {{ player.first_name }} <br>{{ player.last_name }}
                                </h2>
                            </div>
                            {% if player.number %}
                                <p class="number">
                                    {{ player.number }}
                                </p>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
{% endblock %}
